# Imports

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

## Task 1

Obtain the 200 top-ranking universities in www.topuniversities.com (ranking 2018). In particular, extract the following fields for each university: name, rank, country and region, number of faculty members (international and total) and number of students (international and total). Some information is not available in the main list and you have to find them in the details page. Store the resulting dataset in a pandas DataFrame and answer the following questions:
- Which are the best universities in term of: (a) ratio between faculty members and students, (b) ratio of international students?
- Answer the previous question aggregating the data by (c) country and (d) region.

## Solution

### Explanation and assumptions

**Explanation**

For this task, we have to retrieve the information in 2 separate steps.

The first step is to retrieve the data (name of university, rank, country and region) using a simple GET query on a file. We used the Postman extension with the interceptor in order to find this file. The file contains a list of the 1000 best ranked universities sorted by rank. This file contains data in the JSON format.

The second step is to retrieve the number of faculty members and the number of students (international and total) for each university by following the details page found in the JSON data. When reaching the details page, we can simply parse the HTML and retrieve the needed information.

### Code

In [2]:
# Constants
TOP_UNIVERSITIES_BASE = 'https://www.topuniversities.com'
TOP_UNIVERSITIES_RANKING = TOP_UNIVERSITIES_BASE + '/sites/default/files/qs-rankings-data/357051.txt'
column_names = ['name', 'rank_top', 'country', 'region', 'score']
names_map = {
    'total faculty':'faculty_tot',
    'inter faculty': 'faculty_int',
    'total student':'student_tot', 
    'total inter':'student_int'
}

In [3]:
ranking = requests.get(TOP_UNIVERSITIES_RANKING)
top_200 = ranking.json()['data'][0:200]

In [4]:
universities_top = pd.DataFrame(columns = (column_names + list(names_map.values())))

def get_details_info(div_name):
    div = soup.find('div',class_=div_name)
    if div:
        return int(div
            .find('div',class_='number')
            .text
            .replace("\n","")
            .replace(",","")
            .strip())
    else:
        return float('NaN')

for university in top_200:
    row = {
        'name': university['title'],
        'rank_top': university['rank_display'],
        'country': university['country'],
        'region': university['region'],
        'score': university['score']
    }
    
    details_page_url = TOP_UNIVERSITIES_BASE + university['url']
    r = requests.get(details_page_url)
    soup = BeautifulSoup(r.text,'html.parser')
    
    for div_class, column_name in names_map.items():
        row[column_name] = get_details_info(div_class)
    
    universities_top = universities_top.append(row, ignore_index=True)
    
universities_top.set_index(['name'])

,rank_top,country,region,score,faculty_tot,faculty_int,student_tot,student_int
name,,,,,,,,
Massachusetts Institute of Technology (MIT),1,United States,North America,100,2982,1679,11067,3717
Stanford University,2,United States,North America,98.7,4285,2042,15878,3611
Harvard University,3,United States,North America,98.4,4350,1311,22429,5266
California Institute of Technology (Caltech),4,United States,North America,97.7,953,350,2255,647
University of Cambridge,5,United Kingdom,Europe,95.6,5490,2278,18770,6699
University of Oxford,6,United Kingdom,Europe,95.3,6750,2964,19720,7353
UCL (University College London),7,United Kingdom,Europe,94.6,6345,2554,31080,14854
Imperial College London,8,United Kingdom,Europe,93.7,3930,2071,16090,8746
University of Chicago,9,United States,North America,93.5,2449,635,13557,3379
ETH Zurich - Swiss Federal Institute of Technology,10,Switzerland,Europe,93.3,2477,1886,19815,7563
"Nanyang Technological University, Singapore (NTU)",11,Singapore,Asia,92.2,4338,2993,25738,7251
Ecole Polytechnique Fédérale de Lausanne (EPFL),12,Switzerland,Europe,91.2,1695,1300,10343,5896
Princeton University,13,United States,North America,91,1007,246,8069,1793
Cornell University,14,United States,North America,90.7,2718,970,21904,5411
National University of Singapore (NUS),15,Singapore,Asia,90.5,5106,3086,32728,8917
Yale University,16,United States,North America,90.4,4940,1708,12402,2469
Johns Hopkins University,17,United States,North America,89.8,4462,1061,16146,4105
Columbia University,18,United States,North America,88.9,6189,913,25045,8105
University of Pennsylvania,19,United States,North America,88.7,5499,1383,20639,4250
The Australian National University,20,Australia,Oceania,87.1,1600,927,14442,5551
Duke University,=21,United States,North America,87,2938,226,15320,2864
University of Michigan,=21,United States,North America,87,6809,1920,43147,7527
King's College London,=23,United Kingdom,Europe,86.9,3650,1513,23780,9451
The University of Edinburgh,=23,United Kingdom,Europe,86.9,4075,1553,28040,10551
Tsinghua University,25,China,Asia,85.6,5506,932,36300,4072
The University of Hong Kong,26,Hong Kong,Asia,85.5,3012,2085,20214,8230
"University of California, Berkeley (UCB)",27,United States,North America,84.9,3321,1395,36703,6086
Northwestern University,=28,United States,North America,84.8,4231,1141,18675,3422
The University of Tokyo,=28,Japan,Asia,84.8,4514,254,27279,2639
The Hong Kong University of Science and Technology,30,Hong Kong,Asia,84.3,1150,835,10375,2921
...,...,...,...,...,...,...,...,...
Albert-Ludwigs-Universitaet Freiburg,171,Germany,Europe,50.8,1966,413,23214,3897
Indian Institute of Technology Delhi (IITD),172,India,Asia,50.7,466,4,7477,80
University of Virginia,=173,United States,North America,50.3,2509,487,21560,1899
King Fahd University of Petroleum & Minerals,=173,Saudi Arabia,Asia,50.3,1062,665,6040,989
University of Liverpool,=173,United Kingdom,Europe,50.3,2390,717,22065,7502
University of Technology Sydney,176,Australia,Oceania,50.1,1328,546,24207,7769
CentraleSupélec,177,France,Europe,50,529,137,3877,1132
University of Florida,178,United States,North America,49.8,5419,504,45485,4597
University of Twente,=179,Netherlands,Europe,49.7,910,299,9332,2235
Indian Institute of Technology Bombay (IITB),=179,India,Asia,49.7,876,19,9402,93
University of Göttingen,181,Germany,Europe,49.6,3678,641,30402,3736
Vrije Universiteit Brussel (VUB),=182,Belgium,Europe,49.5,1792,515,9284,1853
Universidade Estadual de Campinas (Unicamp),=182,Brazil,Latin America,49.5,1968,109,26572,966
University of Colorado Boulder,=182,United States,North America,49.5,3685,566,30219,2679
Vienna University of Technology,=182,Austria,Europe,49.5,706,172,17479,5199
University of Rochester,186,United States,North America,49.3,2569,488,9636,2805
Universidad Autónoma de Madrid,187,Spain,Europe,49.2,2738,181,26511,2976
Alma Mater Studiorum - University of Bologna,=188,Italy,Europe,49.1,2990,153,63399,4195
University of Reading,=188,United Kingdom,Europe,49.1,1280,422,13330,4077
Indian Institute of Science (IISc) Bangalore,190,India,Asia,49,423,NaN,4071,47
University of Cape Town,191,South Africa,Africa,48.9,1733,379,19593,3325
Scuola Normale Superiore di Pisa,=192,Italy,Europe,48.5,86,1,532,48
Scuola Superiore Sant'Anna Pisa di Studi Universitari e di Perfezionamento,=192,Italy,Europe,48.5,119,1,789,135
Keio University,=192,Japan,Asia,48.5,3905,261,33500,2178
Stockholm University,=195,Sweden,Europe,48.1,2154,646,28281,2636
Universitat Autònoma de Barcelona,=195,Spain,Europe,48.1,2187,230,31986,3848
Texas A&M University,=195,United States,North America,48.1,3446,206,60294,4900
Instituto Tecnológico y de Estudios Superiores de Monterrey,199,Mexico,Latin America,48,1822,821,13376,1412
Maastricht University,200,Netherlands,Europe,47.9,1277,502,16385,8234
Universidad de Chile,201,Chile,Latin America,47.8,2256,127,38848,2134

In [5]:
universities_top

,name,rank_top,country,region,score,faculty_tot,faculty_int,student_tot,student_int
0,Massachusetts Institute of Technology (MIT),1,United States,North America,100,2982,1679,11067,3717
1,Stanford University,2,United States,North America,98.7,4285,2042,15878,3611
2,Harvard University,3,United States,North America,98.4,4350,1311,22429,5266
3,California Institute of Technology (Caltech),4,United States,North America,97.7,953,350,2255,647
4,University of Cambridge,5,United Kingdom,Europe,95.6,5490,2278,18770,6699
5,University of Oxford,6,United Kingdom,Europe,95.3,6750,2964,19720,7353
6,UCL (University College London),7,United Kingdom,Europe,94.6,6345,2554,31080,14854
7,Imperial College London,8,United Kingdom,Europe,93.7,3930,2071,16090,8746
8,University of Chicago,9,United States,North America,93.5,2449,635,13557,3379
9,ETH Zurich - Swiss Federal Institute of Techno...,10,Switzerland,Europe,93.3,2477,1886,19815,7563
10,"Nanyang Technological University, Singapore (NTU)",11,Singapore,Asia,92.2,4338,2993,25738,7251
11,Ecole Polytechnique Fédérale de Lausanne (EPFL),12,Switzerland,Europe,91.2,1695,1300,10343,5896
12,Princeton University,13,United States,North America,91,1007,246,8069,1793
13,Cornell University,14,United States,North America,90.7,2718,970,21904,5411
14,National University of Singapore (NUS),15,Singapore,Asia,90.5,5106,3086,32728,8917
15,Yale University,16,United States,North America,90.4,4940,1708,12402,2469
16,Johns Hopkins University,17,United States,North America,89.8,4462,1061,16146,4105
17,Columbia University,18,United States,North America,88.9,6189,913,25045,8105
18,University of Pennsylvania,19,United States,North America,88.7,5499,1383,20639,4250
19,The Australian National University,20,Australia,Oceania,87.1,1600,927,14442,5551
20,Duke University,=21,United States,North America,87,2938,226,15320,2864
21,University of Michigan,=21,United States,North America,87,6809,1920,43147,7527
22,King's College London,=23,United Kingdom,Europe,86.9,3650,1513,23780,9451
23,The University of Edinburgh,=23,United Kingdom,Europe,86.9,4075,1553,28040,10551
24,Tsinghua University,25,China,Asia,85.6,5506,932,36300,4072
25,The University of Hong Kong,26,Hong Kong,Asia,85.5,3012,2085,20214,8230
26,"University of California, Berkeley (UCB)",27,United States,North America,84.9,3321,1395,36703,6086
27,Northwestern University,=28,United States,North America,84.8,4231,1141,18675,3422
28,The University of Tokyo,=28,Japan,Asia,84.8,4514,254,27279,2639
29,The Hong Kong University of Science and Techno...,30,Hong Kong,Asia,84.3,1150,835,10375,2921
...,...,...,...,...,...,...,...,...,...
170,Albert-Ludwigs-Universitaet Freiburg,171,Germany,Europe,50.8,1966,413,23214,3897
171,Indian Institute of Technology Delhi (IITD),172,India,Asia,50.7,466,4,7477,80
172,University of Virginia,=173,United States,North America,50.3,2509,487,21560,1899
173,King Fahd University of Petroleum & Minerals,=173,Saudi Arabia,Asia,50.3,1062,665,6040,989
174,University of Liverpool,=173,United Kingdom,Europe,50.3,2390,717,22065,7502
175,University of Technology Sydney,176,Australia,Oceania,50.1,1328,546,24207,7769
176,CentraleSupélec,177,France,Europe,50,529,137,3877,1132
177,University of Florida,178,United States,North America,49.8,5419,504,45485,4597
178,University of Twente,=179,Netherlands,Europe,49.7,910,299,9332,2235
179,Indian Institute of Technology Bombay (IITB),=179,India,Asia,49.7,876,19,9402,93
180,University of Göttingen,181,Germany,Europe,49.6,3678,641,30402,3736
181,Vrije Universiteit Brussel (VUB),=182,Belgium,Europe,49.5,1792,515,9284,1853
182,Universidade Estadual de Campinas (Unicamp),=182,Brazil,Latin America,49.5,1968,109,26572,966
183,University of Colorado Boulder,=182,United States,North America,49.5,3685,566,30219,2679
184,Vienna University of Technology,=182,Austria,Europe,49.5,706,172,17479,5199
185,University of Rochester,186,United States,North America,49.3,2569,488,9636,2805
186,Universidad Autónoma de Madrid,187,Spain,Europe,49.2,2738,181,26511,2976
187,Alma Mater Studiorum - University of Bologna,=188,Italy,Europe,49.1,2990,153,63399,4195
188,University of Reading,=188,United Kingdom,Europe,49.1,1280,422,13330,4077
189,Indian Institute of Science (IISc) Bangalore,190,India,Asia,49,423,NaN,4071,47
190,University of Cape Town,191,South Africa,Africa,48.9,1733,379,19593,3325
191,Scuola Normale Superiore di Pisa,=192,Italy,Europe,48.5,86,1,532,48
192,Scuola Superiore Sant'Anna Pisa di Studi Unive...,=192,Italy,Europe,48.5,119,1,789,135
193,Keio University,=192,Japan,Asia,48.5,3905,261,33500,2178
194,Stockholm University,=195,Sweden,Europe,48.1,2154,646,28281,2636
195,Universitat Autònoma de Barcelona,=195,Spain,Europe,48.1,2187,230,31986,3848
196,Texas A&M University,=195,United States,North America,48.1,3446,206,60294,4900
197,Instituto Tecnológico y de Estudios Superiores...,199,Mexico,Latin America,48,1822,821,13376,1412
198,Maastricht University,200,Netherlands,Europe,47.9,1277,502,16385,8234
199,Universidad de Chile,201,Chile,Latin America,47.8,2256,127,38848,2134

## Task 2

Obtain the 200 top-ranking universities in www.timeshighereducation.com (ranking 2018). Repeat the analysis of the previous point and discuss briefly what you observed.

## Solution

### Explanation and assumptions

**Explanation**

For this task, we can retrieve the information in one step.

We retrieve the data using a simple GET query on a file. We used the Postman extension with the interceptor in order to find the URL of this file. The file contains the list of the universities sorted by rank. This file contains data in the JSON format.

From it we parse the name of university, rank, country, score, total faculty members, total number of student and percentage of international student. 

We use the first dataframe to fetch the region of a university and if no region can be found we will use the country as its own region. We do this because statistics could be biaised if some countries are group together under the same 'unkown' region.

We assume that the faculty members are the people who work for the students. So we retrieve the ratio of student per staff members and compute the total faculty members using this ratio and the total number of students. 

The number of international students is computed using the percentage retrieved on the website and the total number of students. 

We also ceil any value that we found since it is meaningless to have a non integer number of people.

## Code

In [25]:
# Constants
PERCENT_FORMAT = "%.1f%%"
TIMES_BASE = 'https://www.timeshighereducation.com'
TIMES_RANKING = TIMES_BASE + '/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json'
column_names = ['name', 'rank_times', 'country', 'region', 'score']
names_map = {
    'total faculty':'faculty_tot',
    'total student':'student_tot', 
    'total inter':'student_int'
}

In [26]:
ranking = requests.get(TIMES_RANKING)
top_200 = ranking.json()['data'][:200]

In [47]:
universities_times = pd.DataFrame(columns = (column_names + list(names_map.values())))

# Retrieve the regions of a country from the first Dataframe
def get_region(country):
    # Get rows where country is the same and filter to have only the region
    res = universities_top[universities_top['country']==country]['region']
    
    # Check that there is a result
    if len(res):
        region = res.iloc[0]
        return region
    else:
        return country

def to_int(value):
    return int(value.replace(",","").replace('%',""))

for university in top_200:
    row = {
        'name': university['name'],
        'rank_times': university['rank'],
        'country': university['location'],
        'region' : get_region(university['location'].strip()),
        'score': university['scores_overall'],
        'faculty_tot': np.ceil(to_int(university['stats_number_students']) / float(university['stats_student_staff_ratio'])),   
        'student_tot': to_int(university['stats_number_students']),
        'student_int': np.ceil(to_int(university['stats_number_students']) * (to_int(university['stats_pc_intl_students']) / 100)),   
    }
        
    universities_times = universities_times.append(row, ignore_index=True)

universities_times = universities_times.set_index(['name'])

In [48]:
universities_times

,rank_times,country,region,score,faculty_tot,student_tot,student_int
name,,,,,,,
University of Oxford,1,United Kingdom,Europe,94.3,1823.0,20409,7756.0
University of Cambridge,2,United Kingdom,Europe,93.2,1688.0,18389,6437.0
California Institute of Technology,=3,United States,North America,93.0,340.0,2209,597.0
Stanford University,=3,United States,North America,93.0,2113.0,15845,3486.0
Massachusetts Institute of Technology,5,United States,North America,92.5,1285.0,11177,3801.0
Harvard University,6,United States,North America,91.8,2284.0,20326,5285.0
Princeton University,7,United States,North America,91.1,959.0,7955,1910.0
Imperial College London,8,United Kingdom,Europe,89.2,1391.0,15857,8722.0
University of Chicago,9,United States,North America,88.6,2182.0,13525,3382.0
ETH Zurich – Swiss Federal Institute of Technology Zurich,=10,Switzerland,Europe,87.7,1318.0,19233,7309.0
University of Pennsylvania,=10,United States,North America,87.7,3133.0,20361,4073.0
Yale University,12,United States,North America,87.6,2827.0,12155,2553.0
Johns Hopkins University,13,United States,North America,86.5,3605.0,15498,3720.0
Columbia University,14,United States,North America,86.0,4359.0,26587,8508.0
"University of California, Los Angeles",15,United States,North America,85.7,4092.0,39279,6678.0
University College London,16,United Kingdom,Europe,85.3,2887.0,30304,14849.0
Duke University,17,United States,North America,85.1,3391.0,15256,3357.0
"University of California, Berkeley",18,United States,North America,84.3,2762.0,36182,6151.0
Cornell University,19,United States,North America,84.2,2230.0,21850,5244.0
Northwestern University,20,United States,North America,83.3,1365.0,17466,3144.0
University of Michigan,21,United States,North America,83.1,4863.0,41818,6691.0
National University of Singapore,=22,Singapore,Asia,82.8,1801.0,30602,9181.0
University of Toronto,=22,Canada,North America,82.8,3713.0,69427,11803.0
Carnegie Mellon University,24,United States,North America,81.9,939.0,12676,5705.0
London School of Economics and Political Science,=25,United Kingdom,Europe,79.4,825.0,10065,7147.0
University of Washington,=25,United States,North America,79.4,3943.0,44945,7192.0
University of Edinburgh,=27,United Kingdom,Europe,79.2,2141.0,26759,10704.0
New York University,=27,United States,North America,79.2,4569.0,43860,11404.0
Peking University,=27,China,Asia,79.2,4735.0,42136,6742.0
Tsinghua University,30,China,Asia,79.0,3073.0,42089,3789.0
...,...,...,...,...,...,...,...
University of Cape Town,171,South Africa,Africa,54.4,1776.0,20775,3740.0
"Rutgers, the State University of New Jersey",172,United States,North America,54.3,3914.0,43439,4344.0
KTH Royal Institute of Technology,=173,Sweden,Europe,54.2,810.0,12951,2202.0
University of Münster,=173,Germany,Europe,54.2,993.0,42287,2961.0
Université Libre de Bruxelles,=175,Belgium,Europe,54.0,584.0,25343,8871.0
Newcastle University,=175,United Kingdom,Europe,54.0,1344.0,20952,6286.0
University of Liverpool,=177,United Kingdom,Europe,53.9,1694.0,19815,6936.0
Zhejiang University,=177,China,Asia,53.9,3550.0,50051,3004.0
University of Luxembourg,=179,Luxembourg,Luxembourg,53.8,341.0,4969,2833.0
University of Twente,=179,Netherlands,Europe,53.8,524.0,6697,1809.0
Paris-Sud University,181,France,Europe,53.7,1878.0,27221,4356.0
École Normale Supérieure de Lyon,=182,France,Europe,53.6,262.0,2221,289.0
Hong Kong Polytechnic University,=182,Hong Kong,Asia,53.6,810.0,21773,5444.0
Scuola Normale Superiore di Pisa,184,Italy,Europe,53.4,100.0,515,37.0
University of Aberdeen,185,United Kingdom,Europe,53.3,868.0,12055,4340.0
University of Miami,186,United States,North America,53.1,2689.0,15860,2538.0
University of Dundee,187,United Kingdom,Europe,52.9,732.0,10893,2615.0
University of East Anglia,=188,United Kingdom,Europe,52.8,995.0,13521,4057.0
Shanghai Jiao Tong University,=188,China,Asia,52.8,3008.0,37288,2238.0
Aalto University,190,Finland,Europe,52.7,631.0,12744,2549.0
University of Massachusetts,191,United States,North America,52.6,4454.0,59230,8293.0
University of Auckland,192,New Zealand,Oceania,52.5,1615.0,30348,8801.0
Northeastern University,193,United States,North America,52.4,1342.0,18780,6010.0
Lomonosov Moscow State University,194,Russian Federation,Russian Federation,52.3,4005.0,29236,6432.0
Tilburg University,195,Netherlands,Europe,52.1,344.0,7738,1006.0
Paris-Sorbonne University – Paris 4,196,France,Europe,52.0,730.0,22042,3307.0
"Royal Holloway, University of London",197,United Kingdom,Europe,51.9,580.0,8931,3573.0
"University of California, Riverside",=198,United States,North America,51.7,1002.0,20740,2904.0
University of Gothenburg,=198,Sweden,Europe,51.7,1838.0,18378,2390.0
National Taiwan University,=198,Taiwan,Asia,51.7,2762.0,31758,2541.0

#### a) ratio between faculty members and students

##### Explanation

We simply compute the ratio of total faculty members over the total number of students with the value we retrieved

In [49]:
# Compute the ratio
universities_times['fac/stud'] = universities_times['faculty_tot'] / universities_times['student_tot']

# Convert it to float
universities_times['fac/stud'] = universities_times['fac/stud'].astype(float)

# Remove unwanted columns
fac_stud_ratio = universities_times[['fac/stud','country','region']]

# Sort on the ratio
fac_stud_ratio = fac_stud_ratio.sort_values(['fac/stud'],ascending=False)


show = fac_stud_ratio.copy()

# Show result with a meaningful string
show['fac/stud'] = show['fac/stud'].apply(lambda x : PERCENT_FORMAT % (x*100))
show

,fac/stud,country,region
name,,,
Vanderbilt University,30.3%,United States,North America
University of Copenhagen,24.4%,Denmark,Europe
Johns Hopkins University,23.3%,United States,North America
Yale University,23.3%,United States,North America
University of Rochester,23.3%,United States,North America
Emory University,22.7%,United States,North America
Duke University,22.2%,United States,North America
École Polytechnique,19.6%,France,Europe
Scuola Normale Superiore di Pisa,19.4%,Italy,Europe
University of Miami,17.0%,United States,North America
University of Zurich,17.0%,Switzerland,Europe
University of Pittsburgh,16.9%,United States,North America
Technical University of Denmark,16.7%,Denmark,Europe
Columbia University,16.4%,United States,North America
University of Chicago,16.1%,United States,North America
California Institute of Technology,15.4%,United States,North America
University of Pennsylvania,15.4%,United States,North America
Dartmouth College,15.2%,United States,North America
University of Tokyo,14.9%,Japan,Asia
Case Western Reserve University,14.1%,United States,North America
Lomonosov Moscow State University,13.7%,Russian Federation,Russian Federation
Stanford University,13.3%,United States,North America
Washington University in St Louis,13.3%,United States,North America
University of Science and Technology of China,12.2%,China,Asia
Princeton University,12.1%,United States,North America
École Normale Supérieure de Lyon,11.8%,France,Europe
Georgetown University,11.6%,United States,North America
Boston University,11.6%,United States,North America
University of Michigan,11.6%,United States,North America
Kyoto University,11.5%,Japan,Asia
...,...,...,...
Stockholm University,4.0%,Sweden,Europe
Karlsruhe Institute of Technology,3.8%,Germany,Europe
University of Melbourne,3.8%,Australia,Oceania
University of New South Wales,3.7%,Australia,Oceania
Hong Kong Polytechnic University,3.7%,Hong Kong,Asia
University of Göttingen,3.6%,Germany,Europe
"University of California, Santa Barbara",3.6%,United States,North America
Ulm University,3.5%,Germany,Europe
Paris-Sorbonne University – Paris 4,3.3%,France,Europe
Monash University,3.0%,Australia,Oceania
University of Würzburg,3.0%,Germany,Europe
University of Adelaide,2.9%,Australia,Oceania
University of Queensland,2.8%,Australia,Oceania
Ghent University,2.8%,Belgium,Europe
TU Dresden,2.8%,Germany,Europe
KU Leuven,2.7%,Belgium,Europe
Université Catholique de Louvain,2.6%,Belgium,Europe
University of Tübingen,2.6%,Germany,Europe
University of Freiburg,2.5%,Germany,Europe
University of Münster,2.3%,Germany,Europe
Université Libre de Bruxelles,2.3%,Belgium,Europe
University of Cologne,2.0%,Germany,Europe
Technical University of Munich,1.8%,Germany,Europe
Humboldt University of Berlin,1.8%,Germany,Europe
Free University of Berlin,1.8%,Germany,Europe
RWTH Aachen University,1.7%,Germany,Europe
University of Erlangen-Nuremberg,1.7%,Germany,Europe
Technical University of Berlin,1.6%,Germany,Europe
University of Mannheim,1.3%,Germany,Europe
University of Bonn,1.3%,Germany,Europe

##### Results

This higher the ration the better students can be served since there is people to handle their requests.

#### b) ratio of international students

##### Explanation

Same here we compute the ratio of international student over the total number of student with the value we retrieved

In [50]:
# Compute ratio
universities_times['int/stud'] = universities_times['student_int'] / universities_times['student_tot']

# Convert it to float
universities_times['int/stud'] = universities_times['int/stud'].astype(float)

# Remove unwanted columns
int_total_student = universities_times[['int/stud','country','region']]

# Sort on the ratio
int_total_student = int_total_student.sort_values(['int/stud'],ascending=False)

show = int_total_student.copy()

# Show result with a meaningful string
show['int/stud'] = show['int/stud'].apply(lambda x : PERCENT_FORMAT % (x*100))
show

,int/stud,country,region
name,,,
London School of Economics and Political Science,71.0%,United Kingdom,Europe
University of Luxembourg,57.0%,Luxembourg,Luxembourg
École Polytechnique Fédérale de Lausanne,55.0%,Switzerland,Europe
Imperial College London,55.0%,United Kingdom,Europe
Maastricht University,50.0%,Netherlands,Europe
University College London,49.0%,United Kingdom,Europe
University of St Andrews,48.0%,United Kingdom,Europe
Carnegie Mellon University,45.0%,United States,North America
Queen Mary University of London,45.0%,United Kingdom,Europe
University of Hong Kong,42.0%,Hong Kong,Asia
King’s College London,41.0%,United Kingdom,Europe
"Royal Holloway, University of London",40.0%,United Kingdom,Europe
University of Edinburgh,40.0%,United Kingdom,Europe
University of Melbourne,40.0%,Australia,Oceania
University of Geneva,40.0%,Switzerland,Europe
University of Warwick,39.0%,United Kingdom,Europe
Lancaster University,38.0%,United Kingdom,Europe
University of Leicester,38.0%,United Kingdom,Europe
University of Oxford,38.0%,United Kingdom,Europe
ETH Zurich – Swiss Federal Institute of Technology Zurich,38.0%,Switzerland,Europe
University of Sussex,38.0%,United Kingdom,Europe
University of Manchester,38.0%,United Kingdom,Europe
École Polytechnique,36.0%,France,Europe
University of Glasgow,36.0%,United Kingdom,Europe
University of Sheffield,36.0%,United Kingdom,Europe
University of Aberdeen,36.0%,United Kingdom,Europe
Australian National University,35.0%,Australia,Oceania
University of Cambridge,35.0%,United Kingdom,Europe
University of Liverpool,35.0%,United Kingdom,Europe
Université Libre de Bruxelles,35.0%,Belgium,Europe
...,...,...,...
"University of California, Davis",10.0%,United States,North America
Nanjing University,10.0%,China,Asia
University of Pittsburgh,10.0%,United States,North America
University of Cologne,10.0%,Germany,Europe
Fudan University,10.0%,China,Asia
Ghent University,10.0%,Belgium,Europe
"Rutgers, the State University of New Jersey",10.0%,United States,North America
University of Colorado Boulder,10.0%,United States,North America
University of Tokyo,10.0%,Japan,Asia
University of Würzburg,9.0%,Germany,Europe
Korea Advanced Institute of Science and Technology (KAIST),9.0%,South Korea,Asia
University of Arizona,9.0%,United States,North America
Tsinghua University,9.0%,China,Asia
University of Florida,9.0%,United States,North America
Texas A&M University,9.0%,United States,North America
Kyoto University,8.0%,Japan,Asia
Stockholm University,8.0%,Sweden,Europe
National Taiwan University,8.0%,Taiwan,Asia
University of North Carolina at Chapel Hill,8.0%,United States,North America
Scuola Normale Superiore di Pisa,7.2%,Italy,Europe
University of Münster,7.0%,Germany,Europe
Utrecht University,7.0%,Netherlands,Europe
Vrije Universiteit Amsterdam,7.0%,Netherlands,Europe
University of Alabama at Birmingham,6.0%,United States,North America
Shanghai Jiao Tong University,6.0%,China,Asia
Zhejiang University,6.0%,China,Asia
University of Helsinki,6.0%,Finland,Europe
Pohang University of Science and Technology,4.0%,South Korea,Asia
"University of California, Santa Cruz",4.0%,United States,North America
University of Science and Technology of China,3.0%,China,Asia

##### Results

The universities with the largest ratio of international student are the one located in Capitals and large cities

#### c)  
##### Explanation

We will use the mean value to aggregate by country

##### 1) ratio between faculty members and students aggregated by country

In [51]:
# Aggregate attr of a Dataframe on factor using mean as aggregate operator
def aggregate(show,attr, factor):
    # Convert attr to float
    show[attr] = show[attr].astype(float)
    
    # Group by factor and take the mean
    show = show.groupby([factor]).mean()
    
    # Sort on attr
    show = show.sort_values([attr],ascending=False)
    
    # apply some nice formating (xx.x%)
    show[attr] = show[attr].apply(lambda x : PERCENT_FORMAT % (x*100))
    
    # Return a Dataframe sorted on Descending attr
    return show

In [52]:
show = aggregate(fac_stud_ratio.copy(),'fac/stud','country')
show

                   fac/stud
country
Denmark               16.0%
Italy                 14.0%
Russian Federation    13.7%
Japan                 13.2%
United States         10.6%
France                 9.9%
China                  8.7%
Taiwan                 8.7%
South Africa           8.5%
Switzerland            8.3%
South Korea            8.0%
United Kingdom         7.4%
Sweden                 7.3%
Luxembourg             6.9%
Spain                  6.3%
Singapore              6.0%
Hong Kong              5.7%
Netherlands            5.7%
Finland                5.6%
Norway                 5.4%
New Zealand            5.3%
Canada                 5.3%
Austria                4.8%
Ireland                4.4%
Australia              3.8%
Germany                2.8%
Belgium                2.6%

##### Results

When aggrating by country the results show that the first ones are not necessarily the ones with the best ranking on the site

##### 2) ratio of international students aggregated by country

In [53]:
show = int_total_student.copy()
show = aggregate(int_total_student.copy(),'int/stud','country')
show

                   int/stud
country
Luxembourg            57.0%
United Kingdom        36.6%
Hong Kong             32.8%
Switzerland           31.4%
Australia             30.8%
Singapore             30.5%
New Zealand           29.0%
Ireland               27.0%
Austria               26.0%
Canada                22.5%
Russian Federation    22.0%
France                20.8%
Belgium               19.8%
Netherlands           19.2%
Norway                19.0%
United States         18.2%
South Africa          18.0%
Denmark               16.7%
Germany               15.2%
Sweden                14.0%
Spain                 14.0%
Finland               13.0%
Italy                 10.6%
South Korea            9.0%
Japan                  9.0%
China                  8.6%
Taiwan                 8.0%

##### Results

Even if the United States is a large and leading country, US universities are devanced by smaller countries like Luxembourg, Hong Kong or Singapore

#### d) 
##### Explanation

We will use the mean value to aggregate by region

##### 1) ratio between faculty members and students aggregated by region

In [54]:
show = aggregate(fac_stud_ratio.copy(),'fac/stud','region')
show

                   fac/stud
region
Russian Federation    13.7%
North America         10.2%
Africa                 8.5%
Asia                   8.0%
Luxembourg             6.9%
Europe                 6.5%
Oceania                4.0%

##### Results

First we notice that Russia has been separated from Europe and Asia to form its own region. This isn't a problem since the whole country spread from Europe to Asia.

##### 2) ratio of international students aggregated by region##### Results

In [56]:
show = int_total_student.copy()
show = int_total_student.copy()
show = aggregate(int_total_student.copy(),'int/stud','region')
show

                   int/stud
region
Luxembourg            57.0%
Oceania               30.6%
Europe                24.2%
Russian Federation    22.0%
North America         18.6%
Africa                18.0%
Asia                  16.5%

In [ ]:
##### Results