# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>
 <div class="lev1"><a href="#Task-2.-RNA-Sequences"><span class="toc-item-num">Task 2.&nbsp;&nbsp;</span>RNA Sequences</a></div>
 <div class="lev1"><a href="#Task-3.-Class-War-in-Titanic"><span class="toc-item-num">Task 3.&nbsp;&nbsp;</span>Class War in Titanic</a></div></p>

In [1]:
DATA_FOLDER = 'Data/ebola/' # Use the data folder provided in Tutorial 02 - Intro to Pandas.
import pandas as pd
import numpy as np
import glob

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

Use pandas to import these data files into a single `Dataframe`.
Using this `DataFrame`, calculate for *each country*, the *daily average per month* of *new cases* and *deaths*.
Make sure you handle all the different expressions for *new cases* and *deaths* that are used in the reports.

In [73]:
file_gui = glob.glob(DATA_FOLDER + "guinea_data/*.csv")
file_lib = glob.glob(DATA_FOLDER + "liberia_data/*.csv")
file_sie = glob.glob(DATA_FOLDER + "sl_data/*.csv")
list_gui = []
#Create DataFrame for Guinea
for file in file_gui:
    df = pd.read_csv(file,header=0,index_col=None,parse_dates=['Date'])
    list_gui.append(df)
ebola_gui = pd.concat(list_gui)

list_lib = []
#Create DataFrame for Liberia
for file in file_lib:
    df = pd.read_csv(file,header=0,index_col=None,parse_dates=['Date'])
    list_lib.append(df)
ebola_lib = pd.concat(list_lib)

list_sie = []
#Create DataFrame for Sierra Leone
for file in file_sie:
    df = pd.read_csv(file,header=0,index_col=None,parse_dates=['date'])
    list_sie.append(df)
ebola_sie = pd.concat(list_sie)

In [80]:
res = ebola_gui.where(ebola_gui['Description'] == 'New cases of confirmed')
df = res[pd.notnull(res['Description'])]
new_cases_confirmed = df[['Totals', 'Date']]
new_cases_confirmed = new_cases_confirmed.rename(columns = {'Totals': 'New cases'})

res = ebola_gui.where(ebola_gui['Description'] == 'New deaths registered')
df = res[pd.notnull(res['Description'])]
new_deaths_registered = df[['Totals', 'Date']]
new_deaths_registered = new_deaths_registered.rename(columns = {'Totals': 'New deaths'})
test = new_cases_confirmed.merge(new_deaths_registered, on='Date')
test['Country'] = 'Guinea'
test = test.rename(columns={'Date': 'Month'})
test['Month'] = test.Month.dt.strftime("%B")
test

   New cases      Month New deaths Country
0         10     August          5  Guinea
1         10     August          2  Guinea
2          9     August          5  Guinea
3         29     August          3  Guinea
4         14  September          5  Guinea
5         17  September          5  Guinea
6         11  September          4  Guinea
7         11  September          4  Guinea
8          7  September          7  Guinea
9         13  September          2  Guinea
10        14  September          1  Guinea
11         6  September          3  Guinea
12         6  September          3  Guinea
13        12  September          5  Guinea
14        17  September          0  Guinea
15        14  September          3  Guinea
16        25  September          3  Guinea
17        20  September          3  Guinea
18        10  September          5  Guinea
19        11  September          4  Guinea
20         6    October         15  Guinea

In [82]:
res = ebola_lib.where(ebola_lib['Variable'] == 'New case/s (confirmed)')
df = res[pd.notnull(res['Variable'])]
new_cases_confirmed = df[['National', 'Date']]
new_cases_confirmed = new_cases_confirmed.rename(columns = {'National': 'New cases'})


res = ebola_lib.where(ebola_lib['Variable'] == 'Newly reported deaths')
df = res[pd.notnull(res['Variable'])]
new_deaths_registered = df[['National', 'Date']]
new_deaths_registered = new_deaths_registered.rename(columns = {'National': 'New deaths'})
test = new_cases_confirmed.merge(new_deaths_registered, on='Date')
test['Country'] = 'Liberia'
test = test.rename(columns={'Date': 'Month'})
test['Month'] = test.Month.dt.strftime("%B")
test

    New cases      Month  New deaths  Country
0         1.0       June         2.0  Liberia
1         0.0       June         0.0  Liberia
2         5.0       June         4.0  Liberia
3         4.0       June         4.0  Liberia
4         2.0       June         3.0  Liberia
5         1.0       June         1.0  Liberia
6         2.0       June         0.0  Liberia
7         2.0       July         5.0  Liberia
8         0.0       July         5.0  Liberia
9         1.0       July         4.0  Liberia
10        5.0       July         2.0  Liberia
11        0.0       July         2.0  Liberia
12        0.0       July         4.0  Liberia
13        0.0       July         3.0  Liberia
14        0.0       July         3.0  Liberia
15        1.0       July         4.0  Liberia
16        5.0       July         6.0  Liberia
17        6.0       July         9.0  Liberia
18        0.0     August        13.0  Liberia
19        1.0     August         7.0  Liberia
20        2.0     August        29.0  Liberia
21        4.0     August        17.0  Liberia
22        0.0     August        11.0  Liberia
23        2.0     August        30.0  Liberia
24       18.0     August        23.0  Liberia
25        0.0     August        28.0  Liberia
26       22.0     August        51.0  Liberia
27       14.0  September        34.0  Liberia
28        3.0  September        47.0  Liberia
29        8.0  September        27.0  Liberia
..        ...        ...         ...      ...
70        0.0    October        40.0  Liberia
71        1.0    October        24.0  Liberia
72        NaN    October        30.0  Liberia
73        NaN    October        20.0  Liberia
74        NaN    October        29.0  Liberia
75        NaN    October        41.0  Liberia
76        NaN   November         8.0  Liberia
77        NaN   November        24.0  Liberia
78        NaN   November        14.0  Liberia
79        0.0   November        20.0  Liberia
80        NaN   November        12.0  Liberia
81        NaN   November        21.0  Liberia
82        NaN   November        30.0  Liberia
83        NaN   November        14.0  Liberia
84        NaN   November         0.0  Liberia
85        NaN   November        15.0  Liberia
86        NaN   November        21.0  Liberia
87       12.0   November        16.0  Liberia
88        7.0   November         NaN  Liberia
89       10.0   November         7.0  Liberia
90       10.0   November         NaN  Liberia
91        1.0   December         NaN  Liberia
92        9.0   December         NaN  Liberia
93        NaN   December         NaN  Liberia
94     2867.0   December         NaN  Liberia
95     2867.0   December         NaN  Liberia
96     2869.0   December         NaN  Liberia
97     2869.0   December         NaN  Liberia
98     2927.0   December         NaN  Liberia
99     2946.0   December         NaN  Liberia

[100 rows x 4 columns]

In [83]:
ebola_lib[list(['Date','Variable','National'])]

         Date                                           Variable  National
0  2014-06-16                                Specimens collected       1.0
1  2014-06-16                      Specimens pending for testing       0.0
2  2014-06-16                             Total specimens tested      28.0
3  2014-06-16                              Newly reported deaths       2.0
4  2014-06-16                   Total death/s in confirmed cases       8.0
5  2014-06-16                    Total death/s in probable cases       6.0
6  2014-06-16                   Total death/s in suspected cases       2.0
7  2014-06-16  Total death/s in confirmed, probable, suspecte...      16.0
8  2014-06-16  Case Fatality Rate (CFR) - Confirmed & Probabl...       NaN
9  2014-06-16                            Newly reported contacts      41.0
10 2014-06-16                              Total contacts listed     108.0
11 2014-06-16                          Currently under follow-up      95.0
12 2014-06-16                                      Contacts seen      95.0
13 2014-06-16            Contacts who completed 21 day follow-up      11.0
14 2014-06-16                         Contacts lost to follow-up       NaN
15 2014-06-16                                     New admissions       1.0
16 2014-06-16             Total no. currently in Treatment Units       5.0
17 2014-06-16                                   Total discharges       3.0
18 2014-06-16                     Cumulative admission/isolation       5.0
19 2014-06-16                        Newly Reported Cases in HCW       0.0
20 2014-06-16                         Cumulative cases among HCW       1.0
21 2014-06-16                       Newly Reported deaths in HCW       0.0
22 2014-06-16                        Cumulative deaths among HCW       1.0
23 2014-06-16                             New Case/s (Suspected)       2.0
24 2014-06-16                              New Case/s (Probable)       1.0
25 2014-06-16                             New case/s (confirmed)       1.0
26 2014-06-16                              Total suspected cases       4.0
27 2014-06-16                               Total probable cases       6.0
28 2014-06-16                              Total confirmed cases      12.0
29 2014-06-16  Total Number of Confirmed Cases of Sierra Leon...       1.0
..        ...                                                ...       ...
2  2014-12-09                             Total specimens tested       NaN
3  2014-12-09                              Newly reported deaths       NaN
4  2014-12-09                   Total death/s in confirmed cases       NaN
5  2014-12-09                    Total death/s in probable cases       NaN
6  2014-12-09                   Total death/s in suspected cases       NaN
7  2014-12-09  Total death/s in confirmed, \n probable, suspe...    3290.0
8  2014-12-09  Case Fatality Rate (CFR) - \n Confirmed & Prob...       NaN
9  2014-12-09                            Newly reported contacts       NaN
10 2014-12-09                              Total contacts listed       NaN
11 2014-12-09                          Currently under follow-up       NaN
12 2014-12-09                                      Contacts seen       NaN
13 2014-12-09         Contacts who completed 21 day \n follow-up       NaN
14 2014-12-09                         Contacts lost to follow-up       NaN
15 2014-12-09                                     New admissions       NaN
16 2014-12-09          Total no. currently in Treatment \n Units       NaN
17 2014-12-09                                   Total discharges       NaN
18 2014-12-09                     Cumulative admission/isolation       NaN
19 2014-12-09                        Newly Reported Cases in HCW       NaN
20 2014-12-09                         Cumulative cases among HCW       NaN
21 2014-12-09                       Newly Reported deaths in HCW       NaN
22 2014-12-09                        Cumulative deaths among HCW       NaN
23 2014-12-09                             New Case/s (Suspected)    3050.0
24 2014-12-09                              New Case/s (Probable)    1801.0
25 2014-12-09                             New case/s (confirmed)    2946.0
26 2014-12-09                              Total suspected cases       NaN
27 2014-12-09                               Total probable cases       NaN
28 2014-12-09                              Total confirmed cases       NaN
29 2014-12-09  Total Number of Confirmed Cases \n of Sierra L...       NaN
30 2014-12-09  Total Number of Confirmed Cases \n of Guinean ...       NaN
31 2014-12-09  Cumulative confirmed, probable and suspected c...    7797.0

[3152 rows x 3 columns]

In [135]:
# We are using 'etc_new_deaths' for computing the number of deaths per day because it's the only information we have.
# 'etc' means 'Ebola Treatment Center', so those seem to be the deaths happening in the treatment center.

res = ebola_sie.where(ebola_sie['variable'] == 'new_confirmed')
df = res[pd.notnull(res['variable'])]
new_cases_confirmed = df[['National', 'date']]
new_cases_confirmed = new_cases_confirmed.rename(columns = {'National': 'New cases'})
#mean = np.ceil(np.mean(list(map(int, new_cases_confirmed['New cases'].dropna().values))))
#new_cases_confirmed = new_cases_confirmed.fillna(mean)

res = ebola_sie.where(ebola_sie['variable'] == 'etc_new_deaths')
df = res[pd.notnull(res['variable'])]
new_deaths_registered = df[['National', 'date']]
new_deaths_registered = new_deaths_registered.rename(columns = {'National': 'New deaths'})
#mean = np.ceil(np.mean(list(map(int, new_deaths_registered['New deaths'].dropna().values))))
#new_deaths_registered = new_deaths_registered.fillna(mean)
total = new_cases_confirmed.merge(new_deaths_registered, on='date')
total['Country'] = 'Sierra Leone'
total = total.rename(columns={'date': 'Month'})
total['Month'] = total.Month.dt.strftime("%B")
total

    New cases      Month New deaths       Country
0          11     August        NaN  Sierra Leone
1          15     August        NaN  Sierra Leone
2          13     August        NaN  Sierra Leone
3          10     August        NaN  Sierra Leone
4          18     August        NaN  Sierra Leone
5           2     August        NaN  Sierra Leone
6           5     August        NaN  Sierra Leone
7           9     August        NaN  Sierra Leone
8           4     August        NaN  Sierra Leone
9           9     August        NaN  Sierra Leone
10         56     August        NaN  Sierra Leone
11         23     August        NaN  Sierra Leone
12         31     August        NaN  Sierra Leone
13         20     August        NaN  Sierra Leone
14        NaN     August        NaN  Sierra Leone
15         27     August        NaN  Sierra Leone
16         30     August        NaN  Sierra Leone
17        NaN     August        NaN  Sierra Leone
18         44     August        NaN  Sierra Leone
19         44     August        NaN  Sierra Leone
20          9  September        NaN  Sierra Leone
21         31  September        NaN  Sierra Leone
22         28  September        NaN  Sierra Leone
23        NaN  September        NaN  Sierra Leone
24         42  September        NaN  Sierra Leone
25         11  September        NaN  Sierra Leone
26         17  September        NaN  Sierra Leone
27         36  September        NaN  Sierra Leone
28         26  September        NaN  Sierra Leone
29         34  September        NaN  Sierra Leone
..        ...        ...        ...           ...
73         91    October        NaN  Sierra Leone
74         47    October        NaN  Sierra Leone
75         50    October          8  Sierra Leone
76         95    October          3  Sierra Leone
77         60   November          1  Sierra Leone
78         61   November          4  Sierra Leone
79         41   November          3  Sierra Leone
80         45   November          3  Sierra Leone
81        111   November          1  Sierra Leone
82         94   November        NaN  Sierra Leone
83         61   November        NaN  Sierra Leone
84         84   November        NaN  Sierra Leone
85        NaN   November        NaN  Sierra Leone
86         54   November        NaN  Sierra Leone
87         89   November        NaN  Sierra Leone
88         53   November        NaN  Sierra Leone
89         43   November        NaN  Sierra Leone
90        NaN   November        NaN  Sierra Leone
91         94   November        NaN  Sierra Leone
92         51   November        NaN  Sierra Leone
93         47   November        NaN  Sierra Leone
94         39   November        NaN  Sierra Leone
95         83   November        NaN  Sierra Leone
96         84   November        NaN  Sierra Leone
97         64   November        NaN  Sierra Leone
98         72   December        NaN  Sierra Leone
99         37   December          3  Sierra Leone
100        54   December          8  Sierra Leone
101       NaN   December        NaN  Sierra Leone
102       NaN   December        NaN  Sierra Leone

[103 rows x 4 columns]

In [87]:
ebola_sie[list(['date','variable','National'])]

          date                variable   National
0   2014-08-12              population    6348350
1   2014-08-12             new_noncase          4
2   2014-08-12           new_suspected         10
3   2014-08-12            new_probable          1
4   2014-08-12           new_confirmed         11
5   2014-08-12             cum_noncase        657
6   2014-08-12           cum_suspected         46
7   2014-08-12            cum_probable         37
8   2014-08-12           cum_confirmed        717
9   2014-08-12         death_suspected          5
10  2014-08-12          death_probable         34
11  2014-08-12         death_confirmed        264
12  2014-08-12                     cfr       36.8
13  2014-08-12       etc_new_admission        NaN
14  2014-08-12  etc_currently_admitted        NaN
15  2014-08-12       etc_cum_admission        NaN
16  2014-08-12          etc_new_deaths        NaN
17  2014-08-12          etc_cum_deaths        NaN
18  2014-08-12      etc_new_discharges        NaN
19  2014-08-12      etc_cum_discharges        NaN
20  2014-08-12            cum_contacts       2838
21  2014-08-12  cum_completed_contacts        901
22  2014-08-12       contacts_followed       2255
23  2014-08-12            new_contacts        743
24  2014-08-12        contacts_healthy       1937
25  2014-08-12            contacts_ill         14
26  2014-08-12       contacts_not_seen        131
27  2014-08-12  new_completed_contacts         73
28  2014-08-12            percent_seen        87%
0   2014-08-13              population  6,348,350
..         ...                     ...        ...
7   2014-12-13            cum_probable         79
8   2014-12-13           cum_confirmed       6638
9   2014-12-13         death_suspected        NaN
10  2014-12-13          death_probable        NaN
11  2014-12-13         death_confirmed        NaN
12  2014-12-13                     cfr        NaN
13  2014-12-13       etc_new_admission        NaN
14  2014-12-13  etc_currently_admitted        NaN
15  2014-12-13       etc_cum_admission        NaN
16  2014-12-13          etc_new_deaths        NaN
17  2014-12-13          etc_cum_deaths        NaN
18  2014-12-13      etc_new_discharges        NaN
19  2014-12-13      etc_cum_discharges        NaN
20  2014-12-13            cum_contacts        NaN
21  2014-12-13  cum_completed_contacts        NaN
22  2014-12-13       contacts_followed        NaN
23  2014-12-13            new_contacts        NaN
24  2014-12-13        contacts_healthy        NaN
25  2014-12-13            contacts_ill        NaN
26  2014-12-13       contacts_not_seen        NaN
27  2014-12-13  new_completed_contacts        NaN
28  2014-12-13            percent_seen        NaN
29  2014-12-13       total_lab_samples        NaN
30  2014-12-13          repeat_samples        NaN
31  2014-12-13             new_samples        NaN
32  2014-12-13            new_positive        NaN
33  2014-12-13            new_negative        NaN
34  2014-12-13                 pending        NaN
35  2014-12-13         positive_corpse        NaN
36  2014-12-13         negative_corpse        NaN

[3262 rows x 3 columns]

## Task 2. RNA Sequences

In the `DATA_FOLDER/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10<sup>th</sup> file that describes the content of each. 

Use pandas to import the first 9 spreadsheets into a single `DataFrame`.
Then, add the metadata information from the 10<sup>th</sup> spreadsheet as columns in the combined `DataFrame`.
Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

In [ ]:
# Write your answer here

## Task 3. Class War in Titanic

Use pandas to import the data file `Data/titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [ ]:
from IPython.core.display import HTML
HTML(filename=DATA_FOLDER+'/titanic.html')

For each of the following questions state clearly your assumptions and discuss your findings:
1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`. 
2. Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*. 
3. Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*.
4. For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*.
5. Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*.
6. Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index.

In [ ]:
# Write your answer here